* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background: #1f2937;
  color: white;
  height: 550px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
  padding: 10px;
}

.logo {
  margin-left: 50px;
  font-family: "sans-serif", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: x-large;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin-right: 80px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.container-1 {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.hero {
  margin-left: 80px;
  margin-bottom: 3px;
}
.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
  margin-bottom: 3px;
}
.hero-seconday {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
}

.img-nepal {
  margin-right: 80px;
  height: auto;
  width: 400px;
  border-radius: 15px;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 15px;
  border: 0;
  padding: 10px;
  width: 120px;
  font-weight: 800;
  font-size: medium;
  margin-top: 20px;
  cursor: pointer;
}
.gallery {
  padding: 20px;
  height: 500px;
}

.random-info {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.container-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.pictures {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.description {
  margin-top: 10px;
  width: 300px;
}
